/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html
{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height:100%;
}

body
{ 
	font-family: sans-serif, Arial, Segoe UI;
	font-size: 10px;
	margin: 0;
	padding: 0;
    height:100%;
    padding: 40px 0px 250px 0px;
    overflow:hidden;
}


/*width, height*/
.clear {clear:both;}

.ch10 {height:10%;}
.ch20 {height:20%;}
.ch30 {height:30%;}
.ch40 {height:40%;}
.ch50 {height:50%;}
.ch60 {height:60%;}
.ch70 {height:70%;}
.ch80 {height:80%;}
.ch90 {height:90%;}
.ch100 {height:100%;}

.cw10 {width:10%;}
.cw20 {width:20%;}
.cw30 {width:30%;}
.cw40 {width:40%;}
.cw50 {width:50%;}
.cw60 {width:60%;}
.cw70 {width:70%;}
.cw80 {width:80%;}
.cw90 {width:90%;}
.cw100 {width:100%;}

/*header*/
.header
{
	position:absolute;
	top: 0px;
    left:0px;
    width:100%;
    height: 40px;
    border:none;
    background: #000000;
    color: #ff5e00;
}
.header > h1
{
	font-size: 20px;
	font-weight: normal;
	border-bottom: 4px solid #ff5e00;
	display: inline-block;
	margin: 0 0 0 12px;
    position:absolute;
    bottom:0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

/*content*/
.content
{
    background:#ffffff;
    /*min-height:100%;*/
    height:800%;
    overflow:hidden;

}
    
.content > .input-area,
.content > .action-area,
.content > .result-area {
    width: 100%;
    height:90px;
    border-top: 2px solid #639ecd;
    position:relative;
}

.content > .input-area,
.content > .action-area {
    border-top-color:#fff;

}
.content > .input-area.ch100,
.content > .action-areach100,
.content > .result-area.ch100 {
    border-top-color:transparent;

}

.content > .input-area > .inputBox {
	background-color: #fff;
	font-style: italic;
	color: #A7A7A7;
	width: 290px;


	padding: 7px 10px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(180, 180, 180);
	border-bottom-color: rgb(255, 255, 255);
	box-shadow: 0 -1px 0 #3C3C3C;
    margin-left:12px;
    margin-top:10px;
}
.content > .input-area {
    background-color:#e4e4e4;

}

.content > .result-area > .results {
    margin:10px;

}

.content > .result-area > .results  > .desc {
    font-size:15px;
    color:#ff5e00;/*Rezultat*/
    margin-top:20px;
    text-align:center;
    font-weight: bold;

}

.content > .result-area > .results > .result-info > div:first-of-type {
    color:#a7a9ad;
    font-size:20px;
    float:left;
    text-align:right;
    text-shadow: 0 1px 0 #fff;

}
.content > .result-area > .results > .result-info > div:first-of-type + div {
    color:#414349;
    font-size:20px;
    margin-left:10px;
    float:left;
    text-shadow: 0 1px 0 #fff;

}

/*separator*/
.content > .result-area > .separator
{
	height: 0px;
	border: none;
	background: -moz-linear-gradient(top, rgba(227, 227, 227, 1) 0%, rgba(240, 240, 240, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(227, 227, 227, 1)), color-stop(100%, rgba(240, 240, 240, 1)));
	background: -webkit-linear-gradient(top, rgba(227, 227, 227, 1) 0%, rgba(240, 240, 240, 1) 100%);
	background: -o-linear-gradient(top, rgba(227, 227, 227, 1) 0%, rgba(240, 240, 240, 1) 100%);
	background: -ms-linear-gradient(top, rgba(227, 227, 227, 1) 0%, rgba(240, 240, 240, 1) 100%);
	background: linear-gradient(to bottom, rgba(227, 227, 227, 1) 0%, rgba(240, 240, 240, 1) 100%);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 1px;
}

/*footer*/
.footer
{
    position:fixed;
	bottom: 0px;
    left:0px;
    width:100%;
    height: 22px;
	background:#000000;
    border-top:1px solid #42444a;
    box-shadow: inset 0px 1px 7px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0px 1px 7px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 7px 0px rgba(0,0,0,0.5);
}
.footer:before
{
	/*content: url(img/logo.png);*/
	position: relative;
	left: 12px;
    top:2px;
}

.footer div
{
	position:absolute;
    right:12px;
    top:4px;;
	color: #afb1b5;
    font-size:14px;
}

/*button*/
.button
{
	border: 2px solid #8d9096;
    border-radius: 50px;
    color: #4d5d6b;
    background: transparent;
    /*margin-left:0px;*/
    margin-top:12px;
    width: 140px;
    height: 32px;
    display: inline;
    float: left;
}
     
.button:active
{
	border: 1px solid #639ecd;
	background-image: none;
	background-color: #639ecd;
    color: #fff;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.3);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active
{
	background: rgba(49, 52, 55, 0.1);
	color: rgba(255, 255, 255, 0.5); 
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.button.dh {
    height:80px;   
}
.button.dw {
    width:100%;   
} 

/* landscape */
@media screen and (orientation:landscape) {
	.button.dh {
        height:32px;
        width:100%px; 
    }
}
/*Animacija*/

.method-3 {
  font-size: 10px;
  position: relative;
  color: #000000;
  display: inline-block;
}
.method-3:before {
  content: attr(data-text);
  position: absolute;
  color: #ff5e00;
  clip: rect(0, 0, 100px, 0);
  -webkit-animation: fill-3 2s infinite;
          animation: fill-3 2s infinite;
}

@-webkit-keyframes fill-3 {
  50% {
    clip: rect(0, 350px, 100px, 0);
  }
  100% {
    clip: rect(0, 0, 100px, 0);
  }
}

@keyframes fill-3 {
  50% {
    clip: rect(0, 350px, 100px, 0);
  }
  100% {
    clip: rect(0, 0, 100px, 0);
  }
}

/*Animacija 2*/
.results{
    -webkit-animation-name: tinDownIn;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1

}

@-webkit-keyframes tinDownIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1) translateY(900%);
  }

  50%, 70%, 90% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1) translateY(0);
  }

  60%, 80%, 100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
  }
}
@keyframes tinDownIn {
  0% {
    opacity: 0;
    transform: scale(1, 1) translateY(900%);
  }

  50%, 70%, 90% {
    opacity: 1;
    transform: scale(1.1, 1.1) translateY(0);
  }

  60%, 80%, 100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
}